body {
    /* padding-top: 80px; */
    padding-bottom: 20px;
    background-color: #f7f7f7;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.headerMSIG {
    width: 100%;
    background: #fff;
    border-bottom: 5px solid #26245f;
    
    z-index: 9;
    
}
.mw-75 {
    max-width: 75%!important;
}
.btn-msig-blue {
    color: #fff;
    background-color: #26245f;
    border-color: #26245f;
    
}
.btn.pill {
    border-radius: 20px;
    
}
.header-logo {
    max-height: 60px;
}
.btn-outline-msig-white {
    background-color: transparent;
    background-image: none;
    color: #26245f;
    border-color: #26245f;
    
}
.btn-msig-red {
    color: #fff;
    background-color: #dd252f;
    border-color: #dd252f;
    
}
.bg-primary {
    background-color: #26245f!important;
}
.card-header {
    color: #fff;
    background-color:#26245f;
}
.btn-primary {
    color: #fff;
    background-color: #26245f;
    border-color: #26245f;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    /* border-top-left-radius: calc(var(--msig-radius) - 1px);
    border-top-right-radius: calc(var(--msig-radius) - 1px); */
}
.card {
    border-radius: 20px;
    border: 1px solid #b0acc4;
    /* border-radius: var(--msig-radius);
    border: 1px solid var(--msig-blue-25); */
}
.form-control {
    border-radius: 20px;
    /* border-radius: var(--msig-radius); */
}
select {
    display: inline-block!important;
}
.btn{
    border-radius: 20px;
}
div.header-title {
    text-transform: uppercase;
  }
a.btn-msig-blue:hover{
    color:#fff;
    background-color: #3f3e61;
}
/*

*/
.text-danger
{
    color: #dd252f!important;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
}
.text-primary
{
color: #26245f!important;
line-height: 24px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #26245f!important;
    line-height: 24px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    
}
.navbar
{
    padding: 0 15px 0 15px !important;
}
.navbar-nav .nav-link.active{
    text-decoration-line: underline;
}