.mark, mark{
    padding: 0em;
}
.page {
	position: relative;
	min-height: 100%;
	min-width: 100%;
    margin: 0 auto;
	background-color: #fff
}
.card-deck .card{
    margin-bottom: 15px;
    min-width: 290px;   
    max-width: 320px;   
    min-height: 472px;    
}
.card-header {
    padding: .4rem 1.25rem !important
}
@media only screen and (min-width:1403px) {
	.page {
		width: 1400px;
		max-width: 1400px;
		min-width: 1400px
	}
	.card-deck .card{
        width: 320px;
        
    }
}
@media only screen and (max-width:1403px) {
	.page {
		width: 1280px;
		max-width: 1280px;
		min-width: 1280px
	}
	.card-deck .card{
        width: 290px;        
    }
}

@media only screen and (max-width:1317px) {
	.page {
		width: 1100px;
		max-width: 1100px;
		min-width: 1100px
	}
	.card-deck .card{
        width: 390px;        
    }
}

@media only screen and (max-width:1137px) {
	.page {
		width: 940px;
		max-width: 940px;
		min-width: 940px
	}
	.card-deck .card{
        width: 410px;        
    }
}

@media only screen and (max-width:977px) {
	.page {
		width: 820px;
		max-width: 820px;
		min-width: 820px
	}
	.card-deck .card{
        width: 350px;        
    }
}

@media only screen and (max-width:857px) {
	.page {
		width: 720px;
		max-width: 720px;
		min-width: 720px
    }
    
    img#msig-banner{
        display:none;
    }
	
}

@media only screen and (max-width:767px) {
	.block-config-provider--msig-lifestyle-library .block__content>.view-lifestyle-library #lifestyle_library-result .views-view-grid .views-row .views-col .views-field-field-library-image,
	.block-config-provider--msig-lifestyle-library .block__content>.view-lifestyle-library #lifestyle_library-result .views-view-grid .views-row .views-field-field-teaser-image {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px
	}
}

@media only screen and (max-width:757px) {
	.page {
		width: 620px;
		max-width: 620px;
		min-width: 620px
    }
    
	
}

@media only screen and (max-width:640px) {
	.page {
		width: 100%;
		max-width: 100%;
		min-width: 320px
	}
	
}
.fixed-buttons #call-help-button .call-icon {
    width: 20px;
    height: 20px;
    margin: 15px auto;
    cursor: pointer;
    display: block;
    background: url(/images/icon/sprite.png) no-repeat;
    background-position: 0 0;
    overflow: hidden;
    text-indent: -9999999px;
}
.fixed-buttons #call-help-button {
    width: 50px;
    height: 50px;
    background: #1c0761;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    z-index: 2;
}
.fixed-buttons {
    position: fixed;
    width: 50px;
    height: 125px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    z-index: 1;
}
.footer {
    margin-top: 80px;
    padding-bottom: 35px;
    
}
.l-footer {
    margin-left: 50px;
}
.r-footer {
    margin-right: 50px;
}
.title {
    font-size: 24px;
    color: #1c0761;
    margin-bottom: 22px;
    
}
.social-media-block {
    margin-top: 20px;
}

.social-media-block a img{
    max-width: 42px;
    
}
.banner
{
    max-width: 1280px;
    max-height: 299px;
}
/* .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
    
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2326245f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2326245f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-caption{
    color: #26245f;
} */

body {
    /* padding-top: 80px; */
    padding-bottom: 20px;
    background-color: #f7f7f7;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.headerMSIG {
    width: 100%;
    background: #fff;
    border-bottom: 5px solid #26245f;
    
    z-index: 9;
    
}
.mw-75 {
    max-width: 75%!important;
}
.btn-msig-blue {
    color: #fff;
    background-color: #26245f;
    border-color: #26245f;
    
}
.btn.pill {
    border-radius: 20px;
    
}
.header-logo {
    max-height: 60px;
}
.btn-outline-msig-white {
    background-color: transparent;
    background-image: none;
    color: #26245f;
    border-color: #26245f;
    
}
.btn-msig-red {
    color: #fff;
    background-color: #dd252f;
    border-color: #dd252f;
    
}
.bg-primary {
    background-color: #26245f!important;
}
.card-header {
    color: #fff;
    background-color:#26245f;
}
.btn-primary {
    color: #fff;
    background-color: #26245f;
    border-color: #26245f;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    /* border-top-left-radius: calc(var(--msig-radius) - 1px);
    border-top-right-radius: calc(var(--msig-radius) - 1px); */
}
.card {
    border-radius: 20px;
    border: 1px solid #b0acc4;
    /* border-radius: var(--msig-radius);
    border: 1px solid var(--msig-blue-25); */
}
.form-control {
    border-radius: 20px;
    /* border-radius: var(--msig-radius); */
}
select {
    display: inline-block!important;
}
.btn{
    border-radius: 20px;
}
div.header-title {
    text-transform: uppercase;
  }
a.btn-msig-blue:hover{
    color:#fff;
    background-color: #3f3e61;
}
/*

*/
.text-danger
{
    color: #dd252f!important;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
}
.text-primary
{
color: #26245f!important;
line-height: 24px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #26245f!important;
    line-height: 24px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    
}
.navbar
{
    padding: 0 15px 0 15px !important;
}
.navbar-nav .nav-link.active{
    text-decoration-line: underline;
}
.list-group-item {
    padding: 0.5rem 1.25rem !important;
}
.btn-danger {
   
    background-color: #dd252f!important;
    border-color: #dd252f!important;
}
.btn-outline-primary {
    color: #26245f!important;
    border-color: #26245f!important;
}
.btn-outline-primary:hover{
    color:#fff!important;
    background-color: #26245f;
}
.btn-primary:hover{
    color:#fff!important;
    background-color: #3f3e61;
    border-color: #3f3e61;
}
.list-group-status {
    padding: 0.25rem 0.75rem !important;
}
.list-group-item.active {
    background-color: #26245f;
    border-color: #26245f;
}